nav {
  background-color: #333;
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
nav ul {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 280px;
  overflow: hidden;

}

nav li {
  float: left; 
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-family:Unbounded;

}

nav li a:hover {
  border-radius: 40px;
  max-width:fit-content;
  background-color: #525050;
}