.about-us-container {
    width: 60%;
    background: #111b55;
    border-radius: 15px;
    margin-left: 20%;
    display: flex;
    margin-top: 8%;
    padding: 20px 60px 30px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 6%;
    align-items: center;
    margin-left: 60%;
    margin-top: 30%;
    border: px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
  }
  
  .content h2 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 25px;
    flex: 1;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }
  
  .social-links {
    margin-top: 20px;
    font-size: xx-large;
    color: #ffffff;
  
    a {
      font-size:x-large;
      margin-right: 10px;
      color: #333;
      
      text-decoration: none;
      transition: color 0.3s ease;
  
      &:hover {
        color: #ff5733;
      }
      
    }
  }
  